name: Lofi
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg
      - name: Start Stream
        run: |
          ffmpeg -re -i "https://stream.zeno.fm/0r0xa792kwzuv" \
          -c:v libx264 -preset veryfast -b:v 2500k -f flv \
          "rtmp://a.rtmp.youtube.com/live2/${{ secrets.YOUTUBE_STREAM_KEY }}"
          
